.buttonContainer{
    display: flex; 
    flex-direction: column;
    justify-items: center;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    height:100%;
  }

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: whitesmoke; /* Just to visualize the extent */
    
  }

.introContainer {
    display: grid;
    position: fixed;
    grid-template-columns: repeat(4, 25% [col-start]);
    grid-template-rows: repeat(4, 25% [row-start]);
    overflow: auto;
    background: whitesmoke; /* Just to visualize the extent */
    width: 100vw;
    height: 100vh;
  }

.introHeader {
  text-align: center;
  grid-column: 1/5;
  grid-row: 1/4;
}

.introNext {
  grid-column: 2;
  grid-row: 4;
}

.introDoc {
  grid-column: 3;
  grid-row: 4;
}

.next-button {
    background: #64a2cc;
    background: -webkit-gradient(linear, left top, left bottom, from(#79c6d4), to(#64a2cc));
    background: -webkit-linear-gradient(top, #79c6d4, #64a2cc);
    background: -moz-linear-gradient(top, #79c6d4, #64a2cc);
    background: -ms-linear-gradient(top, #79c6d4, #64a2cc);
    background: -o-linear-gradient(top, #79c6d4, #64a2cc);
    padding: 8.5px 17px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 0px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 17px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
    }
 .next-button:hover {
    background: #28597a;
    color: #3684b5;
    }
 .next-button:active {
    background: #93b3c9;
    }

    .doc-button {
      background: #64a2cc;
      background: -webkit-gradient(linear, left top, left bottom, from(#79c6d4), to(#64a2cc));
      background: -webkit-linear-gradient(top, #79c6d4, #64a2cc);
      background: -moz-linear-gradient(top, #79c6d4, #64a2cc);
      background: -ms-linear-gradient(top, #79c6d4, #64a2cc);
      background: -o-linear-gradient(top, #79c6d4, #64a2cc);
      padding: 8.5px 17px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
      -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
      box-shadow: rgba(0,0,0,1) 0 0px 0;
      text-shadow: rgba(0,0,0,.4) 0 1px 0;
      color: #ffffff;
      font-size: 17px;
      font-family: Helvetica, Arial, Sans-Serif;
      text-decoration: none;
      vertical-align: middle;
      width: 100%;
      }
   .doc-button:hover {
      background: #28597a;
      color: #3684b5;
      }
   .doc-button:active {
      background: #93b3c9;
      }

.leftSideBar {
    position: left;
    
}

.mainContainer {
  display: grid;
  position: fixed;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: repeat(4, 25% [row-start]);
  overflow: auto;
  background: whitesmoke; /* Just to visualize the extent */
  width: 100vw;
  height: 100vh;
}

.leftSideBar {
  grid-column: 1;
  grid-row: 1/5;
}

.testSuites {
  grid-column: 4;
  grid-row: 1/4;
}

.testInput {
  grid-column: 2/4;
  grid-row: 1;
}

.testQuery {
  grid-column: 2/4;
  grid-row: 2;
}

.generateTest {
  grid-column: 2/4;
  grid-row: 4;
}
